
.style-form-input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 3px;
    width:   250px;
}

.style-form-button {
    margin-top: 10px;
    margin-right: 5px;
}
.error-display {
    font-size: 12px;
    color: red;
    margin-bottom: 10px;
    margin-left:  10px;
}

.center-edit-form {
    text-align: center;
    vertical-align: middle;
    margin-bottom:  15px;

}