/***
* {
    font: 12px Arial, sans-serif;
}


html,body {
  background-color:  #EAECEE ;
  margin: 0px;
}

.App {
  font-family: 12px Arial, sans-serif;
}
**/

.field-set {
  margin: 1px;
  height: 265px;
}
/****
h5 {
  margin-top:  2px;
  margin-bottom:  2px;
  text-align: center;
  text-decoration: underline;
}
h4 {
  margin-top:  2px;
  margin-bottom:  2px;
}
h6 {
  margin-top:  2px;
  margin-bottom:  2px;
}
***/


.align-middle {
  text-align: center;
  vertical-align: middle;
}


.div-side-by-side {
  display: flex;
}
.div-left {
  flex: 0 0 40%;
}
div-right {
  flex: 1;
}
div-margin {
  margin: 10px;
}
