/**************************************************/

.hide-row {
    display: none;
}

/* multi column layout*/
.container {
    display: flex;
}

.column {
    flex: 1;
}

.column-one {
    order: 1;
}

.column-two {
    order: 2;
}

.column-three {
    order: 3;
}

.column-four {
    order: 4;
}

.column-five {
    order: 5;
}
/* add more columns here if needed*/


/* Page aesthetics
h4 {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
*/

.box-style {
    border-style: solid;
    border-width: 1px;

    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 1px;
    padding-bottom: 5px;
}

.box-style-no-border {

    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 1px;
    padding-bottom: 5px;
}

.box1 {
    background: #EAECEE  ;
    border-color: black;
}

.box2 {
    background: #A9DFBF;
    border-color: black;

}

.box3 {
    background: #CCFFFF;
    border-color: black;
}

.box4 {
    background: #E8E8E8;
    border-color: black
}

.wrapper {
    height: 100vh;
    display: flex;
    /* Direction of the items, can be row or column */
    flex-direction: column;
}
/**
header {
    height: 30px;
    background-color: #000080;
    line-height: 30px;
    vertical-align: middle;
    padding-left: 5px;
    margin: 0px;
    color: #E8E8E8;
    font-family: 'Arimo';font-size: 14px;

}
***/

footer {
    height: 30px;
    /*max-height: 30px;*/
    background-color: #3F51B5;
    line-height: 30px;
    vertical-align: middle;
    padding-left: 5px;
    margin: 0px;
    color: #E8E8E8;
    font-family: 'Arimo';font-size: 14px;

}
main {
    flex: 1;
}
